/* I always reset all the html elements */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	color: white;
	background-color: #23003E;
}

form, .content{
	max-width: 400px;
	min-height: 500px;
	margin: 100px auto;
	border:  thin solid black;
	padding: 40px 30px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 20);
	background-color: black;
}
h1{
  padding: 30px 50px;
}
hr{
  
}
form h2{
	margin-bottom: 10px;
}

form h4{
	margin-bottom: 40px;
	font-weight: normal;
}
form h4 span{
	color:  mediumpurple;
	font-weight: bold;
	text-decoration: underline;
}
form label{
	display: block;
	margin-bottom: 10px;
	padding-left: 5px;
}

form input, form textarea{
	display: block;
	width:  100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border:  thin solid mediumpurple;
	margin-bottom: 30px;
  background-color: #23003E;
  color: white;
}
input{
  display: block;
	width:  25%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border:  thin solid mediumpurple;
	margin-bottom: 30px;
  background-color: #23003E;
  color: white;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  cursor: wait;
}
form select{
	display: block;
	width:  100%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	border:  thin solid #23003E;
	background-color: #23003E;
	color: #23003E;
}

form input:focus
{
	outline: none;
	border: thin solid #23003E;
}

form textarea{
	min-height: 150px;
}

form input::placeholder{
	font-size: 16px;
}

form button{
	background: mediumpurple;
	color: white;
	border: none;
	padding: 15px;
	width:  100%;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}

form button:active{
	background-color: green;
}

.error{
	margin-top: 30px;
	color: #af0c0c;
}

.success{
	margin-top: 30px;
	color: green;
}

.content header a{
	text-decoration: none;
	padding: 6px 20px;
	border: thin solid #d4d4d4;
	font-size: 14px;
	font-weight: normal;
	background: #e4e4e4;
	color: #555;
}

 .content header{
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 border-bottom: thin solid #e4e4e4;
	 padding-bottom: 30px;
 }

.content main{
	margin-top: 50px;
}

.content main h3{

}
here{
  max-width: 400px;
	min-height: 500px;
	margin: 100px auto;
	border:  thin solid black;
	padding: 40px 30px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 20);
	background-color: black;
}